@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Science Gothic;
    background-color: #0f1013;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17171b;
    border-bottom: 4px ridge #8061c8;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.menu a {
<<<<<<< HEAD
    text-decoration: none;
    color: #8061c8;
    font-weight: bold;
    border: 2px solid #8061c8;
    border-radius: 12px;
=======
    position: relative;
    text-decoration: none;
    color: #8061c8;
    font-weight: bold;
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 100px;
<<<<<<< HEAD
}

.menu a:hover {
    color: #fff;
    background-color: #8061c8;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(192, 28, 192, 0.5);
}

=======
    margin-right: 15px;
}
.menu a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8061c8;
    transition: width 0.3s ease-in-out;
}
.menu a:hover::after{
    width: 100%;
}
.menu a:hover{
    color: #fff;
    transform: scale(1.05);
}



/*
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
}

.redes-sociais a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #8061c8;
    border-radius: 50%;
    padding: 6px;
}

.redes-sociais a:hover {
    color: #fff;
    background-color: #8061c8;
    transform: scale(1.05);
}
<<<<<<< HEAD
=======
*/
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)

/*Parte da descrição do software-->*/

.descricao {
    background-color: #0f1013;
    align-items: center;
    border-bottom: 4px ridge #8061c8;
}

.descricao-texto h1 {
    text-align: center;
    color: #8061c8;
    font-size: 50px;
    margin-bottom: 50px;
}
<<<<<<< HEAD

.descricao-texto i {
    color: white;
    font-size: 120px;
=======
.descricao-texto a{
    color: #8061c8;
    text-decoration: none;
    position: relative;
}
.descricao-texto a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8061c8;
    transition: width 0.3s ease-in-out;
}
.descricao-texto a:hover::after{
    width: 100%;
}

.descricao-texto i {
    color: white;
    font-size: 62px;
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
    display: inline-flex;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.descricao-texto i:hover {
    color: #8061c8;
<<<<<<< HEAD
}

.descricao-texto button {
    text-decoration: none;
    color: #8061c8;
    font-weight: bold;
    border: 2px solid #8061c8;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    margin-bottom: 20px;
    margin-left: 850px;

}
.descricao-texto button:hover {
    color: #fff;
    background-color: #8061c8;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(192, 28, 192, 0.5);
}
.descricao-texto p {
    text-align: center;
    color: white;
    font-size: 20px;
}
=======
    transform: scale(1.05);
}

.descricao-texto p {
    height: 100px ;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
}
/*Imagens do software e suas explicações*/
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
.descricao-imagem h2 {
    text-align: center;
    color: #8061c8;
    font-size: 50px;
}

.descricao-imagem p {
<<<<<<< HEAD
    text-align: left;
=======
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
    color: white;
    font-size: 20px;
}

.descricao-imagem ul {
<<<<<<< HEAD
    text-align: left;
=======
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 65px;
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
    color: #ffffff;
    font-size: 20px;
}

.container-imagem {
<<<<<<< HEAD
    align-items: center;
    margin-left: 10%;
}

.container-imagem-2 {
    align-items: center;
    margin-left: 10%;
}

=======
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 20px;
    max-width: 1800px;
    margin: 0 auto;
}
.container-imagem img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #8061c8;
    transition: all 0.5s;
}
.container-imagem img:last-child:nth-child(odd) {
    grid-column: 1 / -1; 
    max-width: 1000px;
    margin: 0 auto;
    justify-self: center; 
}
.container-imagem img:hover{
    transform: scale(1.05);
}
.container-imagem-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 20px;
    max-width: 1800px;
    margin: 0 auto;
}
.container-imagem-2 img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #8061c8;
    transition: all 0.5s;
}
.container-imagem-2 img:last-child:nth-child(odd) {
    grid-column: 1 / -1; 
    max-width: 1000px;
    margin: 0 auto;
    justify-self: center; 
}
.container-imagem-2 img:hover{
    transform: scale(1.05);
}
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
/*<!--Parte do rodapé-->*/
.rodape {
    background-color: #0f1013;
}

.titulo-rodape h3 {
    text-align: center;
    color: #8061c8;
    font-size: 35px;
}

.titulo-rodape p {
    color: white;
    font-size: 20px;
<<<<<<< HEAD
    text-decoration: none;
=======
    text-align: center;
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
}

.redes-sociais-rodape {
    text-decoration: none;
<<<<<<< HEAD
    border: 2px solid #8061c8;
    border-radius: 12px;
=======
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
    transition: all 0.3s ease-in-out;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 100px;
    margin: 1%;
}
<<<<<<< HEAD
=======
.redes-sociais-rodape a{
    border-radius: 50%;
    border: 2px solid #8061c8;
    padding: 6px;
    transition: all 0.3s ease-in-out;
}
.redes-sociais-rodape a:hover{
    color: #fff;
    background-color: #8061c8;
    transform: scale(1.05);
}
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)

.linguagens {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px 10px;
    display: inline-flex;
}

.linguagens a {
    text-decoration: none;
    color: white;
    text-align: center;
<<<<<<< HEAD
    transition: all 0.3s ease-in-out
=======
    transition: all 0.3s ease-in-out;
>>>>>>> 8b1bae6 (Finalizado CSS da HomePage)
}

.linguagens a:hover {
    color: gray;
    transform: scale(1.05);
}

.linguagens ul {
    display: flex;
    align-items: center;
    gap: 850px;
}